<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>SetCookieServlet</servlet-name>
        <servlet-class>com.himanth.SetCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookieServlet</servlet-name>
        <url-pattern>/setcookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookieServlet</servlet-name>
        <servlet-class>com.himanth.ReadCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookieServlet</servlet-name>
        <url-pattern>/readcookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookieServlet</servlet-name>
        <servlet-class>com.himanth.DeleteCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookieServlet</servlet-name>
        <url-pattern>/deletecookie</url-pattern>
    </servlet-mapping>

</web-app>
